.girlImage {
  height: 400px;
}

#headGirl {
  animation: move 0.5s alternate 1s linear infinite;
  transform-origin: bottom;
  transform-box: fill-box;
}

@keyframes move {
  0% {
    transform: rotate(-4deg) translateY(0px);
  }
  100% {
    transform: rotate(3deg) translateY(-3px);
  }
}

#handGirl {
  animation: handGirl 2s alternate 1s linear infinite;
  transform-origin: bottom;
}

@keyframes handGirl {
  0% {
    transform: rotateZ(0deg) translateY(4px);
  }
  100% {
    transform: rotateZ(0.5deg) translateY(-1px);
  }
}

#graphMobile {
  animation: mobile 2s forwards 0s linear infinite;
  animation-delay: 3s;
  transform-origin: left;
  transform-box: fill-box;
}

@keyframes mobile {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

#message {
  animation: message 2.5s forwards 0s linear infinite;
  transform-origin: left;
  transform-box: fill-box;
}

@keyframes message {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
