.card {
  text-align: center;
  margin: 5px 20px;
  padding: 50px 30px;
  border: 2px solid lightgray;
  box-shadow: 4px 4px 20px grey;

  h2 {
    font-size: 1.4em;
  }

  p {
    font-size: 18px;
  }
}
