.introduction {
  position: absolute;
  top: 25%;
  left: 10%;
  max-width: 550px;
  color: white;

  h1 {
    font-size: 2.5rem;
  }

  p {
    font-size: 16px;
    color: white;
  }

  button {
    margin: 25px 0;
    font-size: 16px;
    padding: 20px 40px;
    border-radius: 50px;
    border: 2px solid transparent;
    background-color: white;
    color: purple;
    font-weight: bolder;
    cursor: pointer;
    transition: all 0.8s ease-in-out 0s;

    &:hover {
      outline: none;
      background-color: transparent;
      color: white;
      border: 2px solid white;
    }
  }
  button:last-child {
    margin-left: 15px;
  }
}

@media screen and (max-width: 600px) {
  .introduction {
    left: 2%;
    padding: 0 10px;
    h1 {
      font-size: 2em;
    }
    p {
      font-size: 14px;
    }

    button {
      margin: 10px 0;
      font-size: 16px;
    }
  }
}
