.footerContainer {
  background-color: #3d017a;
  color: white;
  font-size: 16px;
  margin-top: 100px;

  .footer {
    margin: 40px auto;
    display: flex;
    justify-content: space-around;

    padding: 100px;

    li {
      list-style-type: none;
      margin: 20px 0;
      cursor: pointer;
    }

    li:hover {
      color: rgb(44, 241, 248);
    }

    .logos,
    .imp,
    .useful,
    .subscribe {
      width: 300px;
      padding: 20px 30px;

      h3 {
        font-size: 2rem;
        margin-bottom: 50px;
      }
    }

    .subscribe {
      p {
        margin: 25px 0;
        color: white;
      }
      input {
        width: 280px;
        font-size: 16px;
        padding: 15px;
        border-radius: 50px;
        border: none;
      }

      input:focus,
      button:focus {
        outline: none;
      }

      button {
        margin: 10px 0;
        border-radius: 50px;
        color: #3d017a;
        font-size: 14px;
        font-weight: bolder;
        padding: 15px 20px;
        border: none;
        cursor: pointer;

        &:hover {
          box-shadow: 2px 2px 10px #1f023b;
        }
      }
    }

    .logos {
      text-align: center;

      .brand {
        display: flex;
        align-items: center;

        h2 {
          font-size: 2.5rem;
        }
      }
      p {
        color: white;
      }
      img {
        width: 100px;
        height: 100px;
      }

      div {
        span {
          margin: 0 5px;
          border: 2px solid white;
          box-shadow: 1px 1px 20px rgba(255, 255, 255, 0.5);
          font-size: 24px;
          padding: 10px 11px;
          border-radius: 50%;
          cursor: pointer;
          &:hover {
            color: rgb(44, 241, 248);
          }
          svg {
            font-size: 22px;
          }
        }
      }
    }
  }

  hr {
    background-color: lightgrey;
  }

  .copyright > p {
    text-align: center !important;
    margin: 0;
    padding: 20px;
    color: white;
  }
}

@media screen and (max-width: 1000px) {
  .footer {
    justify-content: left !important;
    padding: 100px 0 !important;
    flex-wrap: wrap;

    .logos {
      text-align: left !important;
    }
  }
}
