.news {
  width: 350px;
  margin: 10px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  overflow: hidden;

  img {
    width: inherit;
    height: 300px;
  }
  .infoBox {
    padding: 30px;

    label {
      display: flex;
      justify-content: space-between;
      font-size: 12px;
      color: grey;
    }

    p {
      color: #222121;
      font-size: 15px;
    }
  }
}
