@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.App {
  font-family: "Roboto", sans-serif;
}

p {
  color: rgb(54, 54, 54);
}

.overlay {
  width: 100%;
  height: 110vh;
  overflow: hidden;
  background-image: url(./image/curve.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  position: relative;
}

.image {
  width: 850px;
  height: inherit;
  position: absolute;
  top: 20%;
  right: 0;
}

.image > img {
  width: inherit;
  cursor: pointer;
  height: inherit;
}

@media screen and (max-width: 800px) {
  .image {
    display: none;
  }
}
